# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Input Data
*.mrexpt
*.html
# Generated Highlight Data
*.json
# We ignore generated highlight markdown files but keep README.md
*.md
!README.md

# OS specific
.DS_Store
.idea/
.vscode/
